
.img_hover_zoom {
    overflow: hidden; 
    border-radius: 5px;
    height: 100%;

    
  }
  .img_hover_zoom img {
    transition: all ease 0.3s;
    cursor: pointer;
    transform: scale(1);
    width: 200px;

  }
  .img_hover_zoom:hover img{
    transform: scale(1.1);
    filter: blur(1.5px) grayscale(50%);
  }
  .img_hover_zoom:hover span{
    filter: opacity(100%);
    
  }

  span{

    position: absolute;
    z-index: 10;
    filter: opacity(0%);
    transition: all ease 0.5s;
    cursor: pointer;

  }
.material-symbols-outlined{
    font-size: 60pt;
}
h1{
    margin-top: 20px;
    margin-left: 30px;
} 
.slick-slide > div{
    margin: 0 10px;
    background: rgba(255, 0, 0, 0);
}
.slick-slide {
    background: rgba(255, 255, 0, 0);
}
@media screen and (max-width:600px) {

    .slick-slide{
        display: flex;
        flex-direction: row;
    }
      .img_hover_zoom img {
        transition: all ease 0.3s;
        cursor: pointer;
        transform: scale(1);
        width: 150px;
    
      }
    
}