
.main{

    height: 100%;
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #440074;
}
.divContainer{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{

    background: rgb(255, 255, 0);
    background: linear-gradient(#ffffff00,#440074);
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.videoContent{

    background: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.imgAd{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divTxt{
    background: rgba(255, 0, 0, 0);
    color: #ffff13;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.about{
    background: rgba(255, 0, 0, 0.925);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 20px;
    text-align: center;
}
#titleAbout{
    font-size: 26pt;
    margin-top: 50%;
    color: #ffff13;
    text-shadow:0px 0px 20px  rgb(0, 0, 0) ;
}
#textAbout{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    background: rgba(255, 0, 0, 0);
    margin: auto;
}
#btnWatch{
    background: #ffff13;
      color: #440074;
      border: 2px solid #440074;
      border-radius: 25px;
      text-decoration: none;
      padding: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 10pt;
      font-weight: bolder;
      cursor: pointer;
      transition: .4s;
}
#btnWatch:hover{
    background: #6700b1;
    color: #ffff13;
}
.infoAbout{
    background: rgba(255, 0, 0, 0);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.yearRelease, .typeGenres, .durationTime{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
iframe{
    margin-top: 40px;
}
@media screen and (max-width:600px){
    #textAbout{
        width: 80%;
        text-align: center;
    }
    .divTxt{
        width: 100%;
        text-align: center;
    }
    iframe{
        width: 400px;
        height: 400px;
    }
    .main{
        height: auto;
        width: 100%;
    }
    #titleAbout{
        font-size: 20pt;
        margin-left: 0px;
        margin-top: 50%;
    }
    .content{
        gap: 30px;
    }
    .infoAbout{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}