nav{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        position: fixed;
        width: 100%;
        height: auto;
        background: transparent;
        transition: all ease-in-out .3s;
        z-index: 100000;
}
nav.black{
    background: rgba(68, 0, 116, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
nav .linkMenu{
    background: #440074;
    color: #ffff13;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   transition: .3s;
   transform: scale(1);
}
nav .linkMenu:hover{
    color: #440074;
    background: #ffff13;
    transform: scale(1.1);
}
.links{

    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.linkMobile{
    display: none;
}
.logoImg{
    width: 80px;
    margin-left: 50px;
}
.menuModal{
    display: none;
    position: fixed;
    flex-direction: column;
    background: rgba(68, 0, 116, 0.69);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #ffff13;
}
.menuModal.active{
display: flex;
}
@media screen and (max-width:600px){
    
    .links{
        margin-top: 10px;
        background-color: rgba(255, 0, 0, 0);
        display: none;
    }
    nav{
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .linkMobile{
        display: block;
        background: rgba(255, 0, 0, 0);
        width: 100px;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
        flex-direction: column;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    .btnModal{
        background: transparent;
        font-weight: bolder;
        font-size:16pt;
        background: #440074;
        color: #ffff13;
        border: 3px solid #ffff13;
        border-radius: 5px;
        padding: 5px;
        width: 50px;
    }
    .btnModal::after{
        content: '=';
    }
    .btnModal.active::after{
        content: '';
    }
    .btnModal.active::before{
        content: 'x';
    }
    nav .linkMenu{
        width: 100%;
        border-radius: 0;
        background: transparent;
        
    }
}