*{
  margin: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}
body{

  background: #440074;
  color: #ffff13;
}
section{

  width: 100%;
  height: 500px;
  background: #310053;
  border-bottom: 0px solid #ffff13;
}
.container{
  background: red;
}

#home{
  background-image: url(../src/components/imgs/simCover.jpg);
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
#cartoon{
  height: 800px;
}